<div class="media tvshow-details">
  <h2 class="tvshow-title"><%= @f_ts.tvshow.title %></h2>
  <div class="media-left col-lg-3">
    <% if @f_ts.tvshow.poster == 'N/A' %>
        <img class="media-object tvshow-image" src=<%= image_path('default-poster.png') %> alt="tvshow-image">
    <% else %>
        <img class="media-object tvshow-image" src=<%= @f_ts.tvshow.poster %> alt="tvshow-image">
    <% end %>
  </div>

  <div class="media-body">
    <table class="tvshow-info">
      <tr>
        <td class="attribute">Year:</td>
        <td class="value"><%= @f_ts.tvshow.year %></td>
      </tr>
      <tr>
        <td class="attribute">Rated:</td>
        <td class="value"><%= @f_ts.tvshow.rated %></td>
      </tr>
      <tr>
        <td class="attribute">Runtime:</td>
        <td class="value"><%= @f_ts.tvshow.runtime %></td>
      </tr>
      <tr>
        <td class="attribute">Genre:</td>
        <td class="value"><%= @f_ts.tvshow.genre %></td>
      </tr>
      <tr>
        <td class="attribute">Writers:</td>
        <td class="value"><%= @f_ts.tvshow.writer %></td>
      </tr>
      <tr>
        <td class="attribute">Actors:</td>
        <td class="value"><%= @f_ts.tvshow.actors %></td>
      </tr>
      <tr>
        <td class="attribute">Plot:</td>
        <td class="value"><%= @f_ts.tvshow.plot %></td>
      </tr>
      <tr>
        <td class="attribute">IMDB:</td>
        <td class="value"><%= @f_ts.tvshow.imdb_rating %></td>
      </tr>
      <tr>
        <td class="attribute">Seasons:</td>
        <td class="value"><%= @f_ts.tvshow.total_seasons %></td>
      </tr>
    </table>

    <button type="button" class="btn btn-danger add-tvshow">Delete from
      Watchlist<span class="glyphicon glyphicon-trash"></span></button>
  </div>
</div>

<% if @message %>
    <div class="alert <%= @message.type %>" role="alert" style="margin-top: 15px"><%= @message.text %></div>
<% end %>

<div class="seasons-container">
  <% for season_nr in 1..@f_ts.tvshow.total_seasons %>
      <div class="panel panel-info season">
        <div class="panel-heading">Season <%= season_nr %></div>
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th class="title">Title</th>
            <th>Released Date</th>
            <th>Watched</th>
          </tr>
          </thead>
          <tbody>
          <% Episode.where(tvshow_id: @f_ts.tvshow.id, season: season_nr).each do |episode| %>
            <tr>
              <td><%= episode.episode%></td>
              <td class="title"><%= episode.title %></td>
              <td><%= episode.released %></td>
                <td>
                  <% if (f_ep = @f_ts.followed_episodes.include?) %>
                    <form action=<%= unmark_episode_path id: f_ep.id%>>
                      <label>
                        <input type="checkbox" name="watched" onChange="this.form.submit()" checked>
                      </label>
                    </form>
                  <% else %>
                    <form action=<%= mark_episode_path id: episode.id%>>
                      <label>
                        <input type="checkbox" name="watched" onChange="this.form.submit()">
                      </label>
                    </form>
                  <% end %>
                </td>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td></td>
            <td class="toggle-all">Toggle All</td>
            <td>
              <label>
                <input type="checkbox" name="watched">
              </label>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
  <% end %>
  </div>
