<% if @watchlist.new_this_week.any? %>
<h2 class="list-title"> New this week:</h2>
<div class="row">
  <% @watchlist.new_this_week.each do |episode| %>
      <div class = "col-lg-3 col-md-4 col-sm-6 col-xs-12 tvshow-card-container" >
        <a href =<%= tvshow_details_path id: episode.tvshow.id %>>
          <div class = "thumbnail tvshow-card" >
            <% if episode.tvshow.poster == 'N/A' %>
                <img class = "tvshow-poster" src = "<%= image_path('default-poster.png') %>" alt = "tvshow-image" >
            <% else %>
                <img class = "tvshow-poster" src = "<%= episode.tvshow.poster %>" alt = "tvshow-image" >
            <% end %>
            <div class = "caption" >
              <h4 class = "tvshow-title" ><%= episode.tvshow.title %> (<%= episode.tvshow.year %>)</h4 >
              <h4 class = "tvshow-title" >Season <%= episode.season %>  Episode <%= episode.episode %></h4 >
            </div >
          </div >
        </a >
      </div >
  <% end %>
</div>
<% end %>


<% if @watchlist.last_episodes.any? %>
<h2 class="list-title"> Pick up where you left off:</h2>
<div class="row">
  <% @watchlist.last_episodes.each do |episode| %>
      <div class = "col-lg-3 col-md-4 col-sm-6 col-xs-12 tvshow-card-container" >
        <a href =<%= tvshow_details_path id: episode.tvshow.id %>>
          <div class = "thumbnail tvshow-card" >
            <% if episode.tvshow.poster == 'N/A' %>
                <img class = "tvshow-poster" src = "<%= image_path('default-poster.png') %>" alt = "tvshow-image" >
            <% else %>
                <img class = "tvshow-poster" src = "<%= episode.tvshow.poster %>" alt = "tvshow-image" >
            <% end %>
            <div class = "caption" >
              <h4 class = "tvshow-title" ><%= episode.tvshow.title %> (<%= episode.tvshow.year %>)</h4 >
              <h4 class = "tvshow-title" >Season <%= episode.season %>  Episode <%= episode.episode %></h4 >
            </div >
          </div >
        </a >
      </div >
  <% end %>
</div>
<% end%>

<% if @watchlist.begin_watching.any? %>
<h2 class="list-title"> Begin watching:</h2>
<div class="row">
  <% @watchlist.begin_watching.each do |tvshow| %>
      <div class = "col-lg-3 col-md-4 col-sm-6 col-xs-12 tvshow-card-container" >
        <a href =<%= tvshow_details_path id: tvshow.id %>>
          <div class = "thumbnail tvshow-card" >
            <% if tvshow.poster == 'N/A' %>
                <img class = "tvshow-poster" src = "<%= image_path('default-poster.png') %>" alt = "tvshow-image" >
            <% else %>
                <img class = "tvshow-poster" src = "<%= tvshow.poster %>" alt = "tvshow-image" >
            <% end %>
            <div class = "caption" >
              <h4 class = "tvshow-title" ><%= tvshow.title %> (<%= tvshow.year %>)</h4 >
            </div >
          </div >
        </a >
      </div >
  <% end %>
</div>
<% end %>